name: Latest blog post workflow

on:
  schedule:
    - cron: '0 * * * *' # Run every hour
  workflow_dispatch:    # Can run manually
permissions:
  contents: write

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://blog.olimorris.com/feed.xml"
          commit_message: "feat: add new blog post"
